table#todos
  thead
    tr
      th Title
      th Due Date
      th Priority
      th
  tbody
    each todo in todos
      tr(data-todo-id=todo.id, style='background-color:#{todo.priority.color};')
        td= todo.title
        td= todo.dueDate
        td= todo.priority.name
        td.delete: button.tiny.radius.alert Delete

